# Arquivos de Build
/dist

# Dependências
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache de Ferramentas
.eslintcache
.stylelintcache
.cache