@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
    --color-logo: #87bf56;
    --color-primary: #6aab7b;
    --color-primary-light: #a3c9a8;
    --color-primary-hover: #f4faf4;
    --color-secondary: #f2a65a;
    --color-text: #484848;
    --color-text-light: #8c8c8c;
    --color-background: #f2f2f2;
    --color-white-hover: #f9f9f9;
    --color-white: #ffffff;

    --text-xxs: 8px; /*small*/
    --text-xs: 9px; /*span*/
    --text-sm: 10px; /*p*/
    --text-base: 12px; /*p*/
    --text-md: 14px; /*h3*/
    --text-lg: 16px; /*h2*/
    --text-xl: 18px; /*h1*/
}

@layer base {
    h1 {
        color: var(--color-text);
        font-size: var(--text-xl);
        font-weight: 500;
    }

    h2 {
        color: var(--color-text);
        font-size: var(--text-lg);
        font-weight: 500;
    }

    h3 {
        color: var(--color-text);
        font-size: var(--text-md);
        font-weight: 500;
    }

    p {
        color: var(--color-text-light);
        font-size: var(--text-base);
        font-weight: 400;
    }

    span {
        color: var(--color-text-light);
        font-size: var(--text-xs);
        font-weight: 500;
    }

    small {
        color: var(--color-text-light);
        font-size: var(--text-xxs);
        font-weight: 500;
    }

    button {
        background-color: var(--color-secondary);
        color: var(--color-white);
        font-size: var(--text-md);
        font-weight: 500;
        padding: 10px 15px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        filter: contrast(1);
        transition: filter 0.3s ease-in-out;

        &:hover {
            filter: contrast(1.1);
        }
    }
}

@layer components {
    .icon-background {
        background-color: var(--color-background);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

:root {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--color-text-light);
    text-decoration: inherit;
}
a:hover {
    color: var(--color-text);
}

#app {
    width: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--color-text);
        background-color: var(--color-background);
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
